.container {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.dropUpContent {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px); /* Ajuste a distância do conteúdo em relação ao botão aqui */
  left: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.container:hover .dropUpContent {
  display: block;
}
