* {
  margin: 0;
  padding: 0;
  font-family: KoHo;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  box-sizing: border-box;
}

.background {
  background: url("/Alerta_Cheias/frontend/assets/Background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.logo {
  width: 100vw;
  height: 10vh;
}

.logo_image {
  width: 130px;
  height: 80px;
  margin-left: 20px;
}

.main_box {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: px;
  /* Adicionando margem superior de 20px */
}

.painel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  /* Definindo uma largura máxima de 400px */
  height: 90%;
  /* Altura automática para ajustar ao conteúdo */
  background: rgba(47, 60, 92, 0.8);
  opacity: 1;
  position: relative;
  border-radius: 100px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 100px;
}

.input {
  margin: 5px;
  padding-bottom: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 10%;
  color: rgba(255, 255, 255, 1);
  font-weight: Bold;
  font-size: 24px;
  /* Diminuindo o tamanho do título */
  opacity: 1;
  margin: 10px;
}

h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  /* Diminuindo o tamanho do subtítulo */
}

input {
  width: 50vh;
  height: 5vh;
  background: rgba(75, 125, 176, 0.800000011920929);
  opacity: 1;
  overflow: visible;
  margin: 5px;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.800000011920929);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  border: 0;
}

.signUp_button {
  width: auto;
  height: auto;
  padding: 2px 20px;
  color: rgba(255, 255, 255, 1);
  background: rgba(75, 125, 176, 0.8);
  opacity: 1;
  border-radius: 100px;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
  overflow: visible;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  margin: 10px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
.Background_Footer {
  width: 100vw;
  height: 5vh;
  background-color: rgba(43, 50, 76);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.Footer_Logo_Box {
  width: 10vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer_Text_Box {
  width: 80vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 25%;
}

.custom-no-underline {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

.Footer_FAQ_Box {
  width: 10vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Botão_FAQ {
  width: 50%;
  height: 90%;
  background: rgba(75, 125, 176, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
  opacity: 1;
  border-radius: 100px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.Botão_FAQ:hover {
  background-color: rgba(75, 125, 176);
}

.Botão_FAQ:active {
  background-color: rgba(75, 125, 176, 0.2);
}

.FAQ_Text {
  text-decoration: none;
  color: #ffffff;
  font-weight: Bold;
  font-size: 20px;
}

#IconeFoto {
  width: 100px;
  height: 100px;
}


/* PARA FAZER HOVER NA IMAGEM USER */
#IconeFoto:hover {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.confirmar {
  display: flex;
  justify-content: center;
  align-items: center;
}