* {
  margin: 0;
  padding: 0;
  font-family: KoHo;
}
body {
  font-size: 14px;
  box-sizing: border-box;
}
.tirarSublinhado {
  text-decoration: none;
  color: #ffffff;
}
#imgpos {
  position: absolute;
  left: 2%;
  top: 10%;
}
#img2 {
  position: absolute;
  left: 2%;
  top: 60%;
}
#img3 {
  position: absolute;
  left: 88%;
  top: 60%;
}
#img4 {
  position: absolute;
  left: 88%;
  top: 10%;
}
.texto {
  columns: auto;
  position: absolute;
  left: 13%;
  top: 10%;
  color: white;
}
.texto1 {
  columns: auto;
  position: absolute;
  left: 13%;
  top: 60%;
  color: white;
}
.texto2 {
  columns: auto;
  position: absolute;
  left: 66%;
  top: 60%;
  color: white;
}
.texto3 {
  columns: auto;
  position: absolute;
  left: 70%;
  top: 10%;
  color: white;
}
.DivBackground {
  background: url("/Alerta_Cheias/assets/4071457.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
.container text-center {
position: absolute;
left:50%;
right: 50%;
} */

.DivBody {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.Painel_Esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 79%;
  height: 84%;
  background: rgba(47, 60, 92, 0.8);
  opacity: 1;
  position: relative;
  border-radius: 100px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 1);
}

.Painel_Esquerda_Titulo {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 45px;
  opacity: 1;
  margin: 10px;
}

.Background_Footer {
  width: 100vw;
  height: 5vh;
  background-color: rgba(43, 50, 76);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer_Logo_Box,
.Footer_FAQ_Box {
  width: 10vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer_Text_Box {
  width: 80vw;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 25%;
}

.custom-no-underline {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}

.Botão_FAQ {
  width: 50%;
  height: 90%;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  background: rgba(75, 125, 176, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
  opacity: 1;
  border-radius: 100px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

.Botão_FAQ:hover {
  background-color: rgba(75, 125, 176);
}

.Botão_FAQ:active {
  background-color: rgba(75, 125, 176, 0.2);
}

.FAQ_Text {
  font-size: 15px;
}
