* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KoHo;
}

a {
    text-decoration: none;
    color: black;
}

.Background {
    width: 100vw;
    height: 100vh;
    margin: 0;
}


.MapaZero {
    height: 100%;
    width: 100%;
}

.side-nav {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
    overflow: hidden;
    /* Evita que a imagem de fundo seja visível fora do contêiner */
    z-index: 1;
    /* Certifica-se de que o conteúdo do .side-nav está na frente do pseudo-elemento */
}

.side-nav::before {
    content: "";
    /* Necessário para o pseudo-elemento ser exibido */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/Alerta_Cheias/frontend/assets/Background.jpg");
    opacity: 0.65;
    /* Opacidade da imagem de fundo */
    z-index: -1;
    /* Coloca o pseudo-elemento atrás do conteúdo do elemento */
}



.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user div {
    display: none;
}

.user h2 {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-img {
    width: 60px;
    border-radius: 50%;
    margin: auto;
}

.Premium {
    width: 30px;
    display: none;
}

/* PARA AS DUAS LISTAS */
ul {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0 25px;
}

.map-container {
    width: 90%;
    height: 13vh;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
    /* Garante que o conteúdo dentro do contêiner não ultrapasse as bordas arredondadas */
    display: none;
    align-items: center;
    justify-content: center;
}

.mapas,
.Texto_mapas {
    margin: 5px 0px;
}

ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img {
    width: 30px;
    margin-right: 0px;
}

ul li p {
    white-space: nowrap;
    display: none;
}



.botao {
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    transition: all 0.3s;
}

.botao:hover {
    background: rgba(20, 61, 99, 0.2);
}

.botao.open {
    transform: rotate(180deg);
}

/* FOOTER */

.Box_Footer {
    width: 700px;
    height: 4vh;
    bottom: 47px;
    right: 450px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: rgba(57, 107, 153, 1);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

}


.Box_Footer::before {
    content: "";
    /* Necessário para o pseudo-elemento ser exibido */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/Alerta_Cheias/frontend/assets/Background.jpg");
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    opacity: 0.65;
    /* Opacidade da imagem de fundo */
    z-index: -1;
    /* Coloca o pseudo-elemento atrás do conteúdo do elemento */
}

.Box_Botao_01,
.Box_Botao_02,
.Box_Botao_03 {
    margin: 0px 60px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Botao_DropUp_01,
.Botao_DropUp_02,
.Botao_DropUp_03 {
    background: none;
    border: 0;
    transition: all 0.3s;
    border-radius: 20%;
    color: #fff;
    font-size: 20px;
}

.Botao_DropUp_01:hover,
.Botao_DropUp_02:hover,
.Botao_DropUp_03:hover {
    background: rgba(255, 255, 255, 0.2);
}

.DropUp_Conteudo_01,
.DropUp_Conteudo_02,
.DropUp_Conteudo_03 {
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    /* Inicialmente centralizado horizontalmente */
    transform: translateX(-50%);
    /* Centraliza horizontalmente */
    background-color: rgba(57, 107, 153, 0.8);
    min-width: 108px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}






.Box_BotoesMapas {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    padding: 10px;
}

/* BOTAO REMOVER */
.Botao_Remover {
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    transition: all 0.3s;

}

.Botao_Remover:hover {
    background: rgba(20, 61, 99, 0.2);
}

.Icone_Remover {
    height: 30px;
    width: 30px;
    margin-top: 2.5px;
    margin-left: 2.5px;
}

/* BOTAO ALARME */
.Botao_Alarme {
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    transition: all 0.3s;
}

.Botao_Alarme:hover {
    background: rgba(20, 61, 99, 0.2);
}

.Icone_Alarme {
    margin-top: 2.5px;
    margin-left: 2.5px;
    height: 30px;
    width: 30px;
}

/* ICONE  ALERTA */

.Div_Alerta {
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    transition: all 0.3s;
}

.Div_Alerta:hover {
    background: rgba(20, 61, 99, 0.2);
}

.Icone_Alerta {
    margin-left: 2.5px;
    height: 30px;
    width: 30px;
}

.Configuracoes:hover {
    background: rgba(20, 61, 99, 0.2);
    border-radius: 10px;
}

/* FOOTER */
.Background_Footer {
    width: 100vw;
    height: 5vh;
    background-color: rgba(43, 50, 76);
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-left: 300px;
}


.Footer_Text_Box {
    width: 80vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 25%;
}

.custom-no-underline {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}

.Footer_FAQ_Box {
    width: 10vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Botão_FAQ {
    width: 50%;
    height: 90%;
    background: rgba(75, 125, 176, 0.8);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
    opacity: 1;
    border-radius: 100px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.Botão_FAQ:hover {
    background-color: rgba(75, 125, 176);
}

.Botão_FAQ:active {
    background-color: rgba(75, 125, 176, 0.2);
}

.FAQ_Text {
    text-decoration: none;
    color: #ffffff;
    font-weight: Bold;
    font-size: 20px;
}


.DropUp_Cotas_Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    margin: 10px;
}

.DropUp_Select_Estado_Titulo {
    width: 90%;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    margin: 5px;

}

.DropUp_Select_Cidade_Titulo {
    width: 90%;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    margin: 5px;
}

/* INFO COTA  */
.DropUp_NivelDoRio_01 {
    width: 30%;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: center;
    margin: 0px;
}

.Div_Infos_Barragem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* INFOS BARRAGENS */
.DropUp_NivelDoRio_02 {
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: start;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.Div_Svg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.DropBtn {
    width: 200px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: rgba(75, 125, 176, 0.800000011920929);
    opacity: 1;
    overflow: visible;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.800000011920929);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 16px;
    font-family: KoHo;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    text-align: center;
}

.DropBtn option {
    background: rgba(75, 125, 176, 0.8);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
    border-radius: 100px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.DropUp_Barragens_Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    margin: 10px;
    white-space: nowrap;
}

/* MODAL BACKGROUND */
.Modal_Background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* MODAL CONTEUDO */
.Modal_Conteudo {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2.5px;
    border: 1px solid #888;
    width: 400px;
    height: 250px;
    color: rgba(255, 255, 255, 1);
    background: rgba(75, 125, 176, 0.800000011920929);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.800000011920929);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Box_Modal_Titulo {
    padding-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.Modal_Titulo {
    font-size: 20px;
}

.Modal_Subtitulo {
    font-size: 16px;
}

.Modal_Seletor {
    width: 90px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: rgba(75, 125, 176, 0.800000011920929);
    opacity: 1;
    overflow: visible;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.800000011920929);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 16px;
    font-family: KoHo;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    text-align: center;
}

/* FORMULARIO */
.Modal_Formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

/* X FECHA MODAL */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.Modal_Botao_Agendar {
    width: 50%;
    height: 10%;
    color: rgba(255, 255, 255, 1);
    background: rgba(75, 125, 176, 0.8);
    opacity: 1;
    border-radius: 100px;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
    overflow: visible;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    margin: 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal_Botao_Agendar:hover {
    background: rgba(20, 61, 99, 0.5);
}

.Modal_Botao_Agendar:active {
    background: rgba(20, 61, 99, 0.8);
}

.Div_CapacidadeBarragem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Div_NivelMontante {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Div_NivelJusante {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Div_ComportasAbertas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Div_ComportasFechadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Informe_Est_Cid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ff0000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Infos_Barragem {
    white-space: nowrap;
}

.DropUp_Clima_Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    color: rgba(255, 255, 255, 1);
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    margin: 10px;
    white-space: nowrap;
}

.Div_Data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
}


/* CLIMA */
.Icones_Clima {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.element {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%);
}

.elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.white {
    fill: #FFFFFF
}

.gray {
    fill: #E0E0E0
}

.yellow {
    fill: #FFEB3B
}

/* FIM DO CLIMA */




.Div_CondicoesDescricao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.Div_Max_Min {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.Div_IndiceUv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
}