* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: KoHo;
}

.Background {
    width: 100vw;
    height: 100vh;
    margin: 0;
}


.MapaZero {
    height: 100%;
    width: 100%;
}



.side-nav {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;

    
 
    background: rgba(57, 107, 153, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.user div {
    display: none;
}

.user h2 {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-img {
    width: 60px;
    border-radius: 50%;
    margin: auto;
}

.Premium {
    width: 30px;
    display: none;
}

ul {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0 15px;

}

.map-container {
    width: 90%;
    height: 13vh;
    margin-top: 5px;
    background-color: #fff;

    border-radius: 2rem;
    /* Define o raio da borda para criar cantos arredondados */
    overflow: hidden;
    /* Garante que o conteúdo dentro do contêiner não ultrapasse as bordas arredondadas */

    display: none;
    align-items: center;
    justify-content: center;

}


.mapas {
    margin: 5px 0px;
}


.Texto_mapas {
    margin: 5px 0px;
}



ul li {
    margin: 30px 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul li img {
    width: 30px;
    margin-right: 0px;
}

ul li p {
    white-space: nowrap;
    display: none;
}



.botao {
    background: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    transition: all 0.3s;
    
}

.botao:hover {
    background: rgba(57, 107, 153, 0.2);
}

.botao.open {
    transform: rotate(180deg);
}