* {
    margin: 0;
    padding: 0;
    font-family: KoHo;
}

body {
    font-size: 14px;
    box-sizing: border-box;
}

/* NAV */
.navbar {
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(75, 125, 176, 0.8);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.800000011920929);

}

/* BOX DO LOGO */
.DivLogo {
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo {
    height: 80px;
    width: 130px;
    margin-left: 20px;
}

.Div_ContainerImagens {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerImagens {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: rgba(43, 50, 76, 0.7);
    border-radius: 10px;
}

/* image-box > map-container */
.map-container {
    width: 14vw;
    height: 12vh;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 10px;
}

.DivIcone {
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.User_Text {
    color: #ffffff;
    font-size: 20px;
    font-weight: Bold;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    padding: 20px;
}

.Icone_User {
    width: 50px;
    height: 60px;
    cursor: pointer;
}

.DivBackground {
    width: 100vw;
    height: 95vh;
    background: url("/Alerta_Cheias/assets/4071457.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* BOX PRINCIPAL */
.DivPrincipal {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.DivMapa {
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* BOX AZUL DO MAPA */
.Painel_Mapa {
    margin-top: 25px;
    width: 60vw;
    height: 70vh;
    background: rgba(75, 125, 176, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.800000011920929);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.MapaZero {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




/* DropUps */
.DropUps {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: self-end;
}


.DropButton_Fechado {
    background: rgba(75, 125, 176, 0.8);
    color: #fff;
}


.DropButton.show {
    background: rgba(75, 125, 176, 0.8);
}

.DropButton li a {
    background: rgba(75, 125, 176, 0.8);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}



/* FOOTER */
.Background_Footer {
    width: 100vw;
    height: 5vh;
    background-color: rgba(43, 50, 76);
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Footer_Logo_Box {
    width: 10vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer_Text_Box {
    width: 80vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 25%;
}

.custom-no-underline {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}

.Footer_FAQ_Box {
    width: 10vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Botão_FAQ {
    width: 50%;
    height: 90%;
    background: rgba(75, 125, 176, 0.8);
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.8);
    opacity: 1;
    border-radius: 100px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.Botão_FAQ:hover {
    background-color: rgba(75, 125, 176);
}

.Botão_FAQ:active {
    background-color: rgba(75, 125, 176, 0.20);
}

.FAQ_Text {
    text-decoration: none;
    color: #ffffff;
    font-weight: Bold;
    font-size: 20px;
}