body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: url("/Alerta_Cheia/assets/4071457.jpg");
            position: relative;
        }

        .navbar {
            background: rgba(75, 125, 176, 0.800000011920929);
            height: 130px;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            margin-bottom: 0;
        }

        .container-options {
            display: flex;
            align-items: center;
            background: rgba(75, 125, 176, 0.800000011920929);
            padding: 10px;
            border-radius: 10px;
        }

        .image-box {
            display: flex;
            align-items: center;
            width: 200px;
            height: 80px;
            background-color: #fff;
            margin-right: 10px;
        }

        .main-section {
            display: flex;
            align-items: center;
            margin-top: 90px; /* Ajuste a distância entre a navbar e a main-section conforme necessário */
            padding: 20px;
            min-height: calc(85vh - 130px); /* Ajuste a altura mínima da main-section conforme necessário */
            background: rgba(75, 125, 176, 0.800000011920929);
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            border-left: 50px;
            border-right: 50px;
            border-top: 50px;
            border-bottom: 50px;
            border-radius: 10px;
        }

        .navbar img {
            display: flex;
            align-items:flex-start;
            width: 120px;
            margin-top: 8px;
            margin-right: 10px;
            margin-left: 10px;
        }

        .help-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-color: white;
        }

        
        @media (max-width: 768px) {
            /* Estilos para telas menores ou iguais a 768px */
            .navbar {
                height: 100px;
                padding: 0 10px;
            }

            .navbar img {
                width: 80px;
            }

            .container-options {
                padding: 5px;
            }

            .image-box {
                width: 150px;
                height: 60px;
                margin-right: 5px;
            }

            .main-section {
                margin-top: 150px;
                padding: 10px;
                min-height: calc(85vh - 100px);
                max-width: 90%;
                border-left: 20px;
                border-right: 20px;
                border-top: 20px;
                border-bottom: 20px;
            }

            .help-icon {
                width: 20px;
                height: 20px;
                bottom: 10px;
                right: 10px;
            }
        }